<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>SQLCODES</title>

    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">

    <!--
    Ramayana CSS Template
    https://templatemo.com/tm-529-ramayana
    -->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="index.html">sqlcodes</a>
                    </div>
                </header>
                @RenderBody()
            </div>
        </div>



        <!-- Sidebar -->
        <div id="sidebar">

            <div class="inner">

                <!-- Search Box -->
                <section id="search" class="alt">
                    <form method="get" action="#">
                        <input type="text" name="search" id="search" placeholder="Search..." />
                    </form>
                </section>

                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Homepage</a></li>
                        <li> <a asp-controller="Home" asp-action="SqlUsagePage">SQL Kullanımı</a></li>
                        <li> <a asp-controller="Home" asp-action="GeneralDataTypesPage">Genel Data Tipleri</a></li>
                        <li> <a asp-controller="Home" asp-action="DbDataTypesPage">DB Data Tipleri</a></li>
                        <li> <a asp-controller="Home" asp-action="SelectPage">Select</a></li>
                        <li> <a asp-controller="Home" asp-action="DistinctPage">Distinct</a></li>
                        <li> <a asp-controller="Home" asp-action="WherePage">Where</a></li>
                        <li> <a asp-controller="Home" asp-action="AndOrUsePage">And & Or Kullanımı</a></li>
                        <li> <a asp-controller="Home" asp-action="OrderByPage">Order By</a></li>
                        <li><a asp-controller="Home" asp-action="InsertIntoPage">Insert Into</a></li>
                        <li> <a asp-controller="Home" asp-action="UpdatePage">Update</a></li>
                        <li> <a asp-controller="Home" asp-action="DeletePage">Delete</a></li>
                        <li> <a asp-controller="Home" asp-action="SelectTopPage">Select Top (Limit)</a></li>
                        <li> <a asp-controller="Home" asp-action="LikePage">Like</a></li>
                        <li> <a asp-controller="Home" asp-action="LikeMarksPage">Like işaretleri</a></li>
                        <li><a asp-controller="Home" asp-action="InPage">In</a></li>
                        <li> <a asp-controller="Home" asp-action="BetweenPage">Between</a></li>
                        <li> <a asp-controller="Home" asp-action="AliasesPage">Aliases (AS Kullanımı)</a></li>
                        <li> <a asp-controller="Home" asp-action="InnerJoinPage">Inner Join</a></li>
                        <li> <a asp-controller="Home" asp-action="LeftJoinPage">Left Join</a></li>
                        <li> <a asp-controller="Home" asp-action="RightJoinPage">Right Join</a></li>
                        <li> <a asp-controller="Home" asp-action="FullJoinPage">Full Join</a></li>
                        <li> <a asp-controller="Home" asp-action="UnionPage">Union</a></li>
                        <li> <a asp-controller="Home" asp-action="SelectIntoPage">Select Into</a></li>
                        <li> <a asp-controller="Home" asp-action="InsertIntoSelectPage">Insert Into Select</a></li>
                        <li> <a asp-controller="Home" asp-action="CreateDbPage">Create DB</a></li>
                        <li> <a asp-controller="Home" asp-action="CreateTable">Create Table</a></li>
                        <li> <a asp-controller="Home" asp-action="ConstraintsPage">Constraints</a></li>
                        <li> <a asp-controller="Home" asp-action="NotNullPage">Not Null</a></li>
                        <li> <a asp-controller="Home" asp-action="UniquePage">Unique</a></li>
                        <li> <a asp-controller="Home" asp-action="PrimaryKeyPage">Primary Key</a></li>
                        <li> <a asp-controller="Home" asp-action="ForeignKeyPage">Foreign Key</a></li>
                        <li> <a asp-controller="Home" asp-action="CheckPage">Check</a></li>
                        <li> <a asp-controller="Home" asp-action="DefaultPage">Default</a></li>
                        <li><a asp-controller="Home" asp-action="CreateIndexPage">Create Index</a></li>
                        <li> <a asp-controller="Home" asp-action="DropPage">Drop</a></li>
                        <li> <a asp-controller="Home" asp-action="AlterPage">Alter</a></li>
                        <li> <a asp-controller="Home" asp-action="AutoIncrementPage">Auto Increment(Artan numara)</a></li>
                        <li> <a asp-controller="Home" asp-action="ViewsPage">Views</a></li>
                        <li> <a asp-controller="Home" asp-action="DateFunctionsPage">Tarih Fonksiyonları</a></li>
                        <li> <a asp-controller="Home" asp-action="DateFormatPage">Date_Format</a></li>
                        <li> <a asp-controller="Home" asp-action="ConvertPage">Convert</a></li>
                        <li> <a asp-controller="Home" asp-action="FindNullValuesPage">Null Değerleri Bulma</a></li>
                        <li> <a asp-controller="Home" asp-action="NullFunctionsPage">Null Functions</a></li>
                        <li> <a asp-controller="Home" asp-action="AvgFunctionPage">Avg()</a></li>
                        <li> <a asp-controller="Home" asp-action="CountFunctionPage">Count()</a></li>
                        <li> <a asp-controller="Home" asp-action="FirstFunctionPage">First()</a></li>
                        <li> <a asp-controller="Home" asp-action="LastFunctionPage">Last()</a></li>
                        <li> <a asp-controller="Home" asp-action="MaxFunctionPage">Max()</a></li>
                        <li> <a asp-controller="Home" asp-action="MinFunctionPage">Min()</a></li>
                        <li> <a asp-controller="Home" asp-action="SumFunctionPage">Sum()</a></li>
                        <li> <a asp-controller="Home" asp-action="GroupByFunctionPage">Group By()</a></li>
                        <li> <a asp-controller="Home" asp-action="HavingPage">Having</a></li>
                        <li> <a asp-controller="Home" asp-action="UcaseUpperFunctionPage">Ucase()-Upper()</a></li>
                        <li> <a asp-controller="Home" asp-action="LcaseLoewerFunctionPage">Lcase()-Lower()</a></li>
                        <li> <a asp-controller="Home" asp-action="MidFunctionPage">Mid()</a></li>
                        <li> <a asp-controller="Home" asp-action="LenFunctionPage">Len()</a></li>
                        <li> <a asp-controller="Home" asp-action="RoundFunctionPage">Round()</a></li>
                        <li> <a asp-controller="Home" asp-action="NowFunctionPage">Now()</a></li>
                        <li> <a asp-controller="Home" asp-action="FormatFunctionPage">Format()</a></li>
                        <li> <a asp-controller="Home" asp-action="ReplaceFunctionPage">Replace()</a></li>
                    </ul>
                </nav>

                <!-- Featured Posts -->
                <div class="featured-posts">
                    <div class="heading">
                        <h2>Featured Posts</h2>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <a href="#">
                            <div class="featured-item">
                                <img src="~/assets/images/featured_post_01.jpg" alt="featured one">
                                <p>Aliquam egestas convallis eros sed gravida. Curabitur consequat sit.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="~/assets/images/left-image.jpg" alt="featured two">
                                <p>Donec a scelerisque massa. Aliquam non iaculis quam. Duis arcu turpis.</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="featured-item">
                                <img src="~/assets/images/featured_post_01.jpg" alt="featured three">
                                <p>Suspendisse ac convallis urna, vitae luctus ante. Donec sit amet.</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">
                        Copyright &copy; 2019 Company Name
                        <br>Designed by <a rel="nofollow" href="https://www.facebook.com/templatemo">Template Mo</a>
                    </p>
                </footer>

            </div>
        </div>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/assets/js/LayoutJs/jquery.min.js"></script>
    <script src="~/assets/js/LayoutJs/bootstrap.bundle.min.js"></script>

    <script src="~/assets/js/LayoutJs/browser.min.js"></script>
    <script src="~/assets/js/LayoutJs/breakpoints.min.js"></script>
    <script src="~/assets/js/LayoutJs/transition.js"></script>
    <script src="~/assets/js/LayoutJs/owl-carousel.js"></script>
    <script src="~/assets/js/LayoutJs/custom.js"></script>

    <script src="https://kit.fontawesome.com/64380cde43.js" crossorigin="anonymous"></script>
</body>


</html>