<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Appsettingsjson</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="~/assets/css/aside.css" />
    <link rel="stylesheet" href="~/assets/css/advertisingside.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<style>
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning ">
            <div class="container-fluid ">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="row g-0">
        <div class="col-2">

            <aside>
                <p> Menu </p>
                <a href="javascript:void(0)">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    SQL Kullanımı
                </a>
                <a href="">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    Genel Data Tipleri
                </a>
                <a href="">
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    DB Data Tipleri
                </a>
                <a href="">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Select
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Distinct
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Where
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    And & Or Kullanımı
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Order By
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Insert Into
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Update
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Delete
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Select Top (Limit)
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Like
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Like işaretleri
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    In
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Between
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Aliases (AS Kullanımı)
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Inner Join
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Left Join
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Right Join
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Full Join
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Union
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Select Into
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Insert Into Select
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Create DB
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Create Table
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Constraints
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Not Null
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Unique
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Primary Key
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Foreign Key
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Check
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Default
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Create Index
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Drop
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Alter
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Auto Increment(Artan numara)
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Views
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Tarih Fonksiyonları
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Date_Format
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Convert
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Null Değerleri Bulma
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Null Functions
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Avg()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Count()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    First()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Last()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Max()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Min()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Sum()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Group By()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Having
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Ucase()-Upper()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Lcase()-Lower()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Mid()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Len()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Round()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Now()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Format()
                </a>
                <a href="">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Replace()
                </a>

            </aside>
        </div>
        <div class="col-8">
            @RenderBody()

        </div>
        <div class="col-2">
            <advertisingside>

            </advertisingside>
        </div>
    </div>



    <footer>
        <advertisingsbottom>

        </advertisingsbottom>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
