.TxtClipBoard {
    height: max-content;
    margin: auto;
}

    .TxtClipBoard .ClipBoardButton {
        background-color: #B0C4DE;
        float: right;
        margin-right: 20px;
        margin-top: 14px;
    }

    .TxtClipBoard .Highlight {
        border-radius: 5px;
        background-color: #B0C4DE;
    }

* {
    margin: 0;
    padding: 0;
}
