@{
    ViewData["Title"] = "AndOrUsePage";
    Layout = "~/Views/Shared/_LayoutTR.cshtml";
}

<!-- Page Heading -->
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>SQL AND ve OR Kullanımı</h1>
                <p>
                    AND ve OR ifadeleri birden fazla alanda işlem yapılacaksa kullanılan operatörlerdir. AND operatörü birinci durumla beraber ikinci durumunda olduğu zaman kullanılır. OR operatörü ise birinci durum veya ikinci durumun gerçekleşmesi durumunda kullanılır.
                </p>
            </div>
        </div>
    </div>
</div>


<br />
<h3>AND Kullanım Biçimi</h3>
<div class="TxtClipBoard">
    <div class="ClipBoardButton">
        <button id="CopyButton1" style="border: none; background-color: #B0C4DE; color:azure;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />

            </svg>
        </button>
    </div>
    <div class="Highlight" id="test1">
        <pre tabindex="0" class="chroma">
        <code class="langueage-html" data-lang="html"><br />
        <span><strong>SELECT  alan_adi1,alan_adi2</strong></span>
        <span><strong>FROM tablo_adi</strong></span>
        <span><strong>WHERE alan_adi1=sorgu_degeri AND alan_adi2=sorgu_degeri</strong></span>
            </code>
        </pre>
    </div>
</div>


<br />
<h3>OR Kullanım Biçimi</h3>
<div class="TxtClipBoard">
    <div class="ClipBoardButton">
        <button id="CopyButton2" style="border: none; background-color: #B0C4DE; color:azure;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />

            </svg>
        </button>
    </div>
    <div class="Highlight" id="test2">
        <pre tabindex="0" class="chroma">
        <code class="langueage-html" data-lang="html"><br />
        <span><strong>SELECT  alan_adi1,alan_adi2</strong></span>
        <span><strong>FROM tablo_adi</strong></span>
        <span><strong>WHERE alan_adi1=sorgu_degeri OR alan_adi2=sorgu_degeri</strong></span>
            </code>
        </pre>
    </div>
</div>



<!-- Tables -->

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>Örnek Tablo Uygulaması:</h3>
                    <p>Örnek olarak aşağıdaki gibi Personel isimli tablomuz olsun.</p>
                </div>
                <div class="default-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adi_Soyadi</th>
                                <th>Sehir</th>
                                <th>Bolum</th>
                                <th>Sicil No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Cengiz Ayhan</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>1234567</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Ahmet Bilge</td>
                                <td>Kocaeli</td>
                                <td>İdari İşler Yöneticisi</td>
                                <td>2345678</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Mehmet Kıran</td>
                                <td>Erzincan</td>
                                <td>Muhasebe</td>
                                <td>3456789</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mehmet Kıran</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>2345678</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tables -->

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>Örnek1</h3>
                    <p><strong>SELECT * FROM Personel WHERE Sehir='İstanbul' AND Bolum='Bilgi İşlem Sorumlusu'</strong></p>
                    <p>Bu kod tablodaki Sehir alanında İstanbul ve Bolum alanında Bilgi İşlem Sorumlusu yazan kayıtları alır.</p>
                    <p><strong>Çıktısı:</strong></p>
                </div>
                <div class="default-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adi_Soyadi</th>
                                <th>Sehir</th>
                                <th>Bolum</th>
                                <th>Sicil No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Cengiz Ayhan</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>1234567</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mehmet Kıran</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>2345678</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Tables -->

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>Örnek2</h3>
                    <p><strong>SELECT * FROM Personel WHERE Sehir='İstanbul' OR Sehir='Kocaeli'</strong></p>
                    <p>Bu kod Sehir alanında İstanbul veya Kocaeli yazan kayıtları alır.</p>
                    <p><strong>Çıktısı:</strong></p>
                </div>
                <div class="default-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adi_Soyadi</th>
                                <th>Sehir</th>
                                <th>Bolum</th>
                                <th>Sicil No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Cengiz Ayhan</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>1234567</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Ahmet Bilge</td>
                                <td>Kocaeli</td>
                                <td>İdari İşler Yöneticisi</td>
                                <td>2345678</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Mehmet Kıran</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>2345678</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>