@{
    ViewData["Title"] = "DeletePage";
    Layout = "~/Views/Shared/_LayoutTR.cshtml";
}


<!-- Page Heading -->
<div class="page-heading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>SQL DELETE Kullanımı</h1>
                <p>
                    DELETE ifadesi tablomuzda bulunan kayıtları silmek için kullanılır.
                </p>
            </div>
        </div>
    </div>
</div>




<!-- clipboard -->
<br />
<h3>DELETE Kullanım Biçimi</h3>
<p>Burada dikkat edilecek nokta WHERE ifadesi ile belli bir kayıt veya kayıtlar seçilip değiştirilmek istenilen alanlardaki değerler değiştirilir. <strong>Eğer WHERE ifadesini kullanmadan yaparsak tablodaki bütün kayıtları değiştirmiş oluruz.</strong></p>
<div class="TxtClipBoard">
    <div class="ClipBoardButton">
        <button id="CopyButton1" style="border: none; background-color: #B0C4DE; color:azure;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />

            </svg>
        </button>
    </div>
    <div class="Highlight" id="test1">
        <pre tabindex="0" class="chroma">
        <code class="langueage-html" data-lang="html"><br />
        <span><strong>DELETE  tablo_adi</strong></span>
        <span><strong>WHERE secilen_alan_adi=alan_degeri</strong></span>
            </code>
        </pre>
    </div>
</div>



<!-- Tables -->

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>Örnek Tablo Uygulaması:</h3>
                    <p>Örnek olarak aşağıdaki gibi Personel isimli tablomuz olsun.</p>
                </div>
                <div class="default-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adi</th>
                                <th>Sehir</th>
                                <th>Bolum</th>
                                <th>Meslek_Kodu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ali</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>1234567</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Okan</td>
                                <td>Kocaeli</td>
                                <td>İdari İşler Yöneticisi</td>
                                <td>2345678</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Süleyman</td>
                                <td>Erzincan</td>
                                <td>Muhasebe</td>
                                <td>3456789</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Tables -->

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>Örnek1:</h3>
                    <p><strong>DELETE Personel</strong></p>
                    <p><strong>WHERE id=3</strong></p>
                    <p>
                        Tablomuzda bulunan kayıtlarda WHERE ifadesi ile id alanında 3 yazan kaydı silmiş olduk. Metin karakterli alanlara tek tırnak işareti kullanılır. Sayısal alanlarda direk olarak yazılır. Bazı veritbanı editörleri sayısal alana veri girerken de te tırnak işareti içinde yazımı kabul etmektedir.
                    </p>
                    <p><strong>Çıktısı:</strong></p>
                </div>
                <div class="default-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adi</th>
                                <th>Sehir</th>
                                <th>Bolum</th>
                                <th>Meslek_Kodu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Cengiz</td>
                                <td>İstanbul</td>
                                <td>Bilgi İşlem Sorumlusu</td>
                                <td>1234567</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Ahmet</td>
                                <td>Kocaeli</td>
                                <td>İdari İşler Yöneticisi</td>
                                <td>2345678</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Tables -->

<section class="tables">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>Örnek2:</h3>
                    <p><strong>DELETE Personel</strong></p>
                    <p><strong>WHERE Sehir='İstanbul'</strong></p>
                    <p>
                        Bu kodda WHERE ifadesi ile Sehir alanında İstanbul yazan kayıtları silmiş olduk.
                    </p>
                    <p><strong>Çıktısı:</strong></p>
                </div>
                <div class="default-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Adi</th>
                                <th>Sehir</th>
                                <th>Bolum</th>
                                <th>Meslek_Kodu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2</td>
                                <td>Ahmet</td>
                                <td>Kocaeli</td>
                                <td>İdari İşler Yöneticisi</td>
                                <td>2345678</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- clipboard -->
<br />
<h3>TRUNCATE TABLE Kullanım Biçimi</h3>
<p>Eğer tablomuzu değil de sadece içindeki kayıtları silmek istiyorsak yani tablomuzun içini boşaltmak istiyorsak aşağıdaki kodu kullanabiliriz:</p>
<div class="TxtClipBoard">
    <div class="ClipBoardButton">
        <button id="CopyButton2" style="border: none; background-color: #B0C4DE; color:azure;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />

            </svg>
        </button>
    </div>
    <div class="Highlight" id="test2">
        <pre tabindex="0" class="chroma">
        <code class="langueage-html" data-lang="html"><br />
        <span><strong>TRUNCATE TABLE tablo_adi</strong></span>
            </code>
        </pre>
    </div>
</div>

<p>
    Bu yapıyı DELETE ile benzerlik gösterir. Aralarındaki farklar şunlardır:
</p>
<p>
    - Delete ile vereceğimiz parametrelere göre silme yapabiliriz. Mesela yaşadığı il İstanbul olan kayıtları silebiliriz. Ancak Truncate yapısında direk olarak bütün kayıtlar silinir. Yani parametre veremeyiz.
</p>
<p>
    - Delete ile bütün kayıtları sildiğimiz zaman otomatik numara sırası baştan başlamaz. Yani 150 tane kaydımız varsa delete ile silip yeni kayıt eklediğimiz zaman 151 nolu otomatik numarayı atar. Ancak Truncate ile silip yeni kayıt eklersek otomatik numara 1 'den itibaren başlar.
</p>