@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTR.cshtml";
}



<!-- Banner -->
<section class="main-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-caption">
                                <h4>Tüm <em>SQL</em> sorguları tek çatı altında.</h4>
                                <span>Dizayn &amp; Yüksek Hız &amp; Bilgi &amp; SQLCODES</span>
                                <p>
                                    Günümüzde ister <strong>Windows</strong> tabanlı uygulamalar ister <strong>Linux</strong> tabanlı uygulamalar olsun,
                                    veritabanına kaydedilen verileri <strong>okumak</strong>, <strong>güncellemek</strong> veya yeni bir veri
                                    <strong>eklemek</strong> için <strong>SQL</strong> dili kullanılmaktadır.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item first-item">
                    <div class="icon"></div>
                    <h4>Dizayn</h4>
                    <p>Akıcı dizayn ile bilginin hızlı aktarımı hedeflenmiştir.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item fivth-item">
                    <div class="icon"></div>
                    <h4>Yüksek Hız</h4>
                    <p>En iyi optimizasyon ile yüksek hız sağlanmıştır.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item third-item">
                    <div class="icon"></div>
                    <h4>Tüm Bilgiler</h4>
                    <p>Konu ile alakalı tüm bilgiler tek çatı altında toplanmıştır.</p>
                </div>
            </div>

        </div>
    </div>
</section>

