@{
    ViewData["Title"] = "SqlUsagePage";
    Layout = "~/Views/Shared/_LayoutTR.cshtml";
}

<h1>SqlUsagePage</h1>


@*1*@
<div class="TxtClipBoard">
    <div class="ClipBoardButton">
        <button id="CopyButton1" style="border: none; background-color: #2b3034; color:azure;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />

            </svg>
        </button>
    </div>
    <div class="Highlight" id="test1">
        <pre tabindex="0" class="chroma">
        <code class="langueage-html" data-lang="html"><br />
        <span>Satır1</span>
        <span>Satır2</span>
        <span>Satır3</span>
        <span>Satır4</span>
        <span>Satır5</span>
            </code>
        </pre>
    </div>
</div>




@*tablo*@

<div class="container">

	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link">Komut</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number">Wins</a></div>
		</div>
		<div class="table-content">
			<div class="table-row">
				<div class="table-data">Select</div>
				<div class="table-data">2</div>
			</div>
			<div class="table-row">
				<div class="table-data">Update</div>
				<div class="table-data">1</div>
			</div>
			<div class="table-row">
				<div class="table-data">Delete</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Insert Into</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Create Database</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Alter Database</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Create Table</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Alter Table</div>
				<div class="table-data">0</div>
			</div>
			<div class="table-row">
				<div class="table-data">Drop Table</div>
				<div class="table-data">0</div>
			</div>
		</div>
	</div>
</div>





@*tablo css*@

<style>

	$base-spacing-unit: 18px;
	$half-spacing-unit: $base-spacing-unit / 3;

	$color-alpha: #1772FF;
	$color-form-highlight: #EEEEEE;

	*, *:before, *:after {
		box-sizing: border-box;
	}

	body {
		padding: $base-spacing-unit;
		font-family: 'Source Sans Pro', sans-serif;
		margin: 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
	}

	.container {
		max-width: 1000px;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
	}

	.table {
		width: 80%;
		border: 1px solid $color-form-highlight;
	}

	.table-header {
		display: flex;
		width: 100%;
		background: #000;
		padding: ($half-spacing-unit * 1.5) 0;
	}

	.table-row {
		display: flex;
		width: 100%;
		padding: ($half-spacing-unit * 1.5) 0;
		&:nth-of-type(odd)

	{
		background: $color-form-highlight;
	}

	}

	.table-data, .header__item {
		flex: 1 1 20%;
		margin-left: 25px;
	}

	.header__item {
		text-transform: uppercase;
	}

	.filter__link {
		color: white;
		text-decoration: none;
		position: relative;
		display: inline-block;
		padding-left: $base-spacing-unit;
		padding-right: $base-spacing-unit;
		margin-left: -17px;
		&::after

	{
		content: '';
		position: absolute;
		right: -($half-spacing-unit * 1.5);
		color: white;
		font-size: $half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}

	}


</style>

